<div id="last-quote">
  <% unless @quote.nil? %>
    <p><%= @quote.text %></p>
    <p>by <strong><%= @quote.author %></strong></p>
  <% else %>
    <p>Please, come back later.</p>
    <p>No one said anything yet. :(</p>
  <% end %>
</div>
