<div class="outside-container">
  <div class="container">
    <div class="central-content">
      <% unless @quote.nil? %>
        <i class="fa fa-quote-left fa-1x"></i>
        <p id="quote-text" class="quote-text"><%= @quote.text %></p>
        <p class="text-right">- <strong id="quote-author"><%= @quote.author %></strong></p>

        <a href="https://github.com/Markuus13/slack-central" target="_blank" title="Check this project in github!">
          <button class="q-btn"><i class="fa fa-github fa-1x"></i></button>
        </a>
        <a href="https://central-co.slack.com/" target="_blank" title="Write your own!">
          <button class="q-btn"><i class="fa fa-slack fa-1x"></i></button>
        </a>
        <a href="#" target="_blank" title="Share this awesome quote!">
          <button class="q-btn"><i class="fa fa-facebook fa-1x"></i></button>
        </a>
      <% else %>
        <p class="text-center">No one said anything yet. :(</p>
        <p class="text-center">Join our
          <a href="https://central-co.slack.com/" target="_blank"><i class="fa fa-slack fa-1x"></i></a>
             and be the first!
        </p>
      <% end %>
    </div>
    <p class="text-center credits">Made for fun by <a href="https://github.com/Markuus13" target="_blank">Marcus</a></p>
  </div>
</div>
