<h1>All Quotes:</h1>

<div id="all-quotes">
  <% @quotes.each do |q| %>
  <p>
    <strong>Author:</strong>
    <%= q.author %>
  </p>
  <p>
    <strong>Quote:</strong>
    <%= q.text %>
  </p>
  <% end %>
</div>
