<div class="outside-container">
  <div class="container">
    <div class="central-content">
      <% unless @quote.nil? %>
        <i class="fa fa-quote-left fa-1x"></i>
        <p id="quote-text" class="quote-text"><%= @quote.text %></p>
        <p class="text-right">- <strong id="quote-author"><%= @quote.author %></strong></p>
      <% else %>
        <p class="text-center">Please, come back later.</p>
        <p class="text-center">No one said anything yet. :(</p>
      <% end %>
    </div>
  </div>
</div>
