.outside-container {
  background-color: rgb(51,51,51);
  height: 100vh;
}

.central-content {
  font-size: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  color: #333333;
  margin: 10px auto;
  width: 450px;
  margin-top: 100px;
  padding: 40px;
}

.quote-text {
  margin-top: 5px;
  margin-left: 20px;
}

.q-btn {
  background-color: #333333;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 40px;
}

.credits {
  color: #555;
  text-align: center;
  font-size: smaller;
}

.credits a {
  color: #666;
}
